language: node_js
node_js:
- 0.1
notifications:
- cdfagonde@hotmail.com
services:
- mongodb
env:
  global:
  - NODE_ENV: test
addons:
  sauce_connect: true
before_install:
- npm install -g bower@1.3
- npm install -g grunt-cli@0.1
- npm install -g karma-cli@0.0
- npm install -g protractor@1.5
- webdriver-manager update
- bower install
before_script:
- node test/data.js
- grunt minifica
script:
- karma start config/karma.config.js --single-run --browsers PhantomJS
- node server &
- protractor config/protractor.js
before_deploy:
- git config --global user.email 'travis@travis-ci.com'
- git config --global user.name 'Travis CI'
- git checkout $TRAVIS_BRANCH
- git add --all
- git commit -am "Travis commit"
deploy:
  provider: openshift
  user: cdfagonde@hotmail.com
  password:
    secure: UpiMJWhgeA5nwWD45mSTgh4yo558L/VZWCW03eho0OOXq5NYVM6QivvdMk0JPOqjum8ZSrF6EAsSFfDMUHumHmawTstIVSaE8HzQ9BVNGKdcZGbKrS3MEBsrUctQbhLfIvnmm8pVa+W0VM7s8MxpgJTWbGEEtu70hjT12uCAF+qRQDoHISBjUiaqS6Sq7j7Y7rZpUDwvMsJ3GhglUkapVKSqgvkFEh9HAFmGZ3Oladl9vGWc025Jsdz5VvW4GSshHlp7TWQNn4YRJI1S7iG1obEW7sgU9VP5OGosCJUb/3jq63HA5M+NUaE4lSVlFCGlr2P6AoafHqZhbXRSVdEhe+QhJPn+vNTlvCFM4m5giGYx78cnsm89zbKiKK5JfEDkS2Ldoote1fB8bO93mOLMOa6oZNBH9kX5SJ6MjUsVgJ0t+OPllXOa+THU/WVDpAWG4uFk4JdQj4t1RQKOVt8IMq74JFBHLtS2JYmPxiEMI1TrBT3qN+3nizA8kn5T/eMC1aOzQWpW8sOXOBfHIMdR8cCNTDxfEX9nKbP3KMpOun6iGSt2QK+glRWbOPsQM7I4opxMlGN/sL+rrbAyGE6t3K4jhjXYCNQCg67ZI8bQC/bIgUlpEOSMRwrmyVMzq9yeFBkbqZtTZfSUCAeXSHKo+f0ri5+ZhTS25HMXeOxAVjk=
  app: contatoo2
  domain: cdfagonde
  on:
    repo: cdfagonde/contatoo2
